/*TEXT STYLE CODE*/
img {
    image-orientation: from-image;
}

body {
    background-color: rgb(39, 33, 79); /*Dark Blue*/
}

a {
    color: rgb(250,250,250); /*Light Purple*/
    font-size: 18px;
    font-family: "Arial";
    padding-left: 60px;
}

h1, h2 {
    color: rgb(236,242,244); /*Pale Blue*/
    text-align: center;
    text-transform: uppercase;
    font-family: "Arial Black";
    margin-left: 25%;
    margin-right: 25%;
    padding-right: 10px;
    padding-left: 10px;
    text-shadow: 1px 1px rgb(14, 17, 17); /*Black*/
}

h1 {
    font-size: 60px;
    margin-top: 10px;
    margin-bottom: 5px;
}

h2 {
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 50px;
    border-bottom: 3px solid rgb(236,242,244);
}

h3 {
    color: rgb(236,242,244); /*Pale blue*/
    text-transform: uppercase;
    font-family: "Arial Black";
    text-shadow: 1px 1px rgb(14, 17, 17); /*Black*/
    margin-left: 10%;
    font-size: 28px;
}

h4 {
    font-size: 24px;
    color: rgb(236,242,244); /*Pale Blue*/
    text-shadow: 1px 1px rgb(14, 17, 17); /*Black*/
    font-family: "Arial Black";
    margin-left: 10%;
    text-align: left;
    margin-top: 50px;
    margin-bottom: 10px;
    text-transform: uppercase;

}

h5 {
    font-size: 28px;
    color: rgb(236,242,244); /*Pale Blue*/
    font-family: "Arial Black";
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 80px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(35, 43, 43); /*Dark Green*/
    border-radius: 15px;
}

p {
    color: rgb(236,242,244); /*Pale Blue*/
    font-size: 18px;
    font-family: "Arial Black";
    margin-left: 15%;
}