/*TEXT STYLE CODE*/
img {
    image-orientation: from-image;
}

body {
    background-color: rgb(39, 33, 79); /*Dark Blue*/
}

a {
    color: rgb(134,59,135); /*Light Purple*/
    font-size: .9vw;
    font-family: "Arial";
    padding-left: 60px;
}

h1, h2 {
    color: rgb(236,242,244); /*Pale Blue*/
    text-align: center;
    text-transform: uppercase;
    font-family: "Arial Black";
    border-radius: 5px;
    margin-left: 25%;
    margin-right: 25%;
    padding-right: 10px;
    padding-left: 10px;
    text-shadow: 1px 1px rgb(14, 17, 17); /*Black*/
}

h1 {
    font-size: 4vw;
    margin-top: 10px;
    margin-bottom: 5px;
}

h2 {
    font-size: 2vw;
    margin-top: 5px;
    margin-bottom: 50px;
}

h3 {
    color: rgb(236,242,244); /*Pale blue*/
    text-transform: uppercase;
    font-family: "Arial Black";
    text-shadow: 1px 1px rgb(14, 17, 17); /*Black*/
    margin-left: 10%;
    font-size: 2vw;
}

h4 {
    font-size: 1.5vw;
    color: rgb(236,242,244); /*Pale Blue*/
    text-shadow: 1px 1px rgb(14, 17, 17); /*Black*/
    font-family: "Arial Black";
    margin-left: 10%;
    text-align: left;
    margin-top: 50px;
    margin-bottom: 10px;
    text-transform: uppercase;

}

h5 {
    font-size: 1.5vw;
    color: rgb(236,242,244); /*Pale Blue*/
    font-family: "Arial Black";
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 80px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(35, 43, 43); /*Dark Green*/
    border-radius: 15px;
}

p {
    color: rgb(236,242,244); /*Pale Blue*/
    font-size: .9vw;
    font-family: "Arial Black";
    margin-left: 15%;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid rgb(65, 74, 76); /*Pale Green*/
    border-radius: 15px;
    background-color: rgb(53, 56, 57); /*Dark Grey*/
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    width: 50%;
    transition: 0.3s;
    color: rgb(94, 104, 107); /*Light Pale Green*/
    text-transform: uppercase;
    font-family: "Arial Black";
    text-shadow: 1px 1px rgb(14, 17, 17); /*Black*/
    font-size: 1.5vw;
}


/*COLUMN CODE*/
.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}


/*IMAGE GALLERY CODE*/
div.gallery {
    margin: 5px;
    border: 1px rgb(59, 68, 75); /*Pale Blue*/
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px rgb(65, 74, 76); /*Pale Green*/
}

div.gallery img {
    width: 100%;
    height: auto;
}